{% extends 'layout.html' %}

{% block body %}
<p><h1 style="background-color: brown;color: aliceblue;"> Made by group 6</h1></p>
<ul>
    <li style="background-color: chartreuse;">CHAITANYA KULKARNI</li>
    <li style="background-color: chartreuse;">KALYANI LADDHA</li>
    <li style="background-color: chartreuse;">TEJAS KINARE</li>
    <li style="background-color: chartreuse;">VARAD KAREGAONKAR</li>

</ul>
<!-- <img src="{{ url_for('static',filename='photo.jpg')}}" alt="Vishal Singh" class="img-thumbnail" width="307" height="240"> -->
 
 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     
        
     
   

{% endblock %}
