{% extends 'layout.html' %}

{% block body %}

<!-- Flexbox container for aligning the toasts -->











<div class="row w-100 "> 
    <div class="col-md-6 offset-md-3 text-center">
        <div class="px-3 text-center">
            <!-- <h1>Suggesting Best Courses</h1> -->

            
            <!-- <h4> Using Sentimental Analysis</h4>/ -->

            <h1>Video Stegnography </h1>
            <h4> Using AES and RSA</h4>
        </div>  
    <!-- <form action="/analysis" method="post" class="mt-5"> -->
        <!-- <input type="url" placeholder="Paste the URL link of course here" name="link" id="link" class="form-control form-rounded rounded shadow text-center" required>
        <div class="row">
            <div class="col-4 offset-4">
                <select name="platform" id="platform" class="form-select rounded shadow mt-3  text-center text-muted" required>
                    <option selected><p class="lead">Select Platform</p></option>
                    <option value="Udemy">Udemy</option>
                    <option value="Youtube">YouTube</option>
                    <option value="Coursera">Coursera</option>
                </select><br>
            </div>
        </div>
        <button class="mt-3 btn btn-success">Analyse</button> -->
    <!-- </form> -->

    

    <div class="fileV">
        
        
    </div>
    
    
    <!-- <label for="cars">Choose :</label> -->
    <div class="tri2">
     
<h6>
    {{message}}
</h6>

   
    
</div>
<script>
    
            alert("Your data  has been succesfully decrypted ");
       
   
</script>

{% endblock %}