<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select name="typeFile" id="typeFile" class="form-select rounded shadow mt-3  text-center text-muted" required>
        <option selected><p class="lead">Select Platform</p></option>
        <option value="Udemy">Udemy</option>
        <option value="Youtube">YouTube</option>
        <option value="Coursera">Coursera</option>
</body>
</html>